<!--- Footer section Start-->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-col">
              <h3>about us</h3>
              <p>SKAE is a pioneer in teaching spoken English, headquartered in Gorakhpur,Uttar Pradesh,India . It was founded on 13th April 2008 as Shri Krishna Academy of English (SKAE). Here we not only connect words to words but make it a soothing place to learn. Let's Learn And Earn, Words and Respect.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-col">
              <h3>Company</h3>
              <ul>
                <li><a href="{% url 'website:course' %}">Courses</a></li>
                <li><a href="#">Memberships</a></li>
                <li><a href="#">privacy & policies</a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-col">
              <h3>quick link</h3>
               <ul>
                <li><a href="{% url 'website:home' %}">Home</a></li>
                <li><a href="{% url 'website:about-us' %}">About Us</a></li>
                <li><a href="{% url 'website:career' %}">Join us</a></li>
                <li><a href="{% url 'website:contact-us' %}">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-col">
              <h3>social pages</h3>
              <ul>
                <li><a href="https://www.google.com/search?q=skae&rlz=1C5CHFA_enIN935IN935&oq=skae+&aqs=chrome.0.69i59j46i39i175i199j0j69i60l2j69i61j69i60l2.1223j0j4&sourceid=chrome&ie=UTF-8" target="_blank">Google</a></li>
                <li><a href="https://www.youtube.com/channel/UCNQtY7KkGilCOXYwGhOg7tg"target="_blank">YouTube</a></li>
                <li><a href="https://www.facebook.com/skaegkp"target="_blank" >Facebook</a></li>
                <li><a href="https://www.instagram.com/skaegkp/" target="_blank">Instagram</a></li>
                <li><a href="https://www.justdial.com/Gorakhpur/Skae-Experts-In-Spoken-English/9999PX551-X551-120928070619-L8X2_BZDET" target="_blank">JustDail</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright-text">&copy;2021 @ SKAE</div>
          </div>
        </div>
      </div>
    </footer>

    <!--- Footer section End-->