{% extends "reports/admin/setting_base.html" %}
{% load static %}
{% block title %}dashbord{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'classroom/css/classroom.css' %}">

{% endblock custom_css %}


{% for message in messages %}
                        <p id="messages" {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{message}}</p>
                    {% endfor %}
{% block content %}

<div class="card" style="">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <h5 class="card-title">Time Slot List</h5>
      </div>
      <div class="col-lg-6 text-right">
        <a href="{% url 'classroom:add-time-slot' %}"><button class="btn btn-primary" style="margin-bottom: 10px;">Add TimeSlot</button></a>
      </div>
    </div>
            <table class="table table-hover">
        <thead>
            <tr>
            {% comment %} <th scope="col">#</th> {% endcomment %}
            
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Note</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        
        <tbody>
        {% for object in object_list %}
                <tr>
                {% comment %} <th scope="row">{{object.id}}</th> {% endcomment %}
                <td><a href="{{ object.get_absolute_url }}">{{object.start_time}}</a></td>
                <td>{{object.end_time}}</td>
                <td>{{object.note}}</td>
                <td>{{object.is_active}}</td>
                <td><button class="btn btn-primary">Actions</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  </div>
</div>

{% endblock content %}

{% block custom_js %}
<script src="{% static 'classroom/js/classroom.js' %}"></script>
{% endblock custom_js %}




