{% extends "reports/admin/base.html" %}
{% load static %}
{% block title %}{% endblock title %}

{% block custom_css %}

{% endblock custom_css %}


{% block page_title %}Profile{% endblock page_title %}


{% block content %}
<section class="profile-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="card profile" style="">
                <img src="{% static 'website/img/testimonial/man.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">{{request.user}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                    </div>
                </div>
            <div class="col-lg-9">
            </div>
        </div>
    </div>
</section>
{% endblock content %}

{% block custom_js %}{% endblock custom_js %}