/* Join Us start Here */

.hiring{
    background-image: url('../img/team/team_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 250px;
    background-position: center top;
    position: relative;
    
}


.hiring .section-title h2{
    color: #ffffff;
    background-color: var(--black-000);
}
.hiring .card{
    bottom: -300px;
    border-radius: 20px;
    padding: 15px;
    width: 140%;
    align-items: center;
    margin-left: -150px;
}
.hiring ::before{
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.job-category .job-category-item{
    box-shadow: var(--shadow-black-100);
    margin: 15px;
    padding: 10px;
}


/* Join Us Form */

